Source:system-popup
Section: main
Priority: extra
Maintainer: Jonghoon Han <jonghoon.han@samsung.com> Jinkun Jang <jinkun.jang@samsung.com> Juhyun Kim <jh8212.kim> DongGi Jang <dg0402.jang@samsung.com> TAESOO JUN <steve.jun@samsung.com>
Uploaders: Jinkun Jang <jinkun.jang@samsung.com>
Build-Depends: debhelper (>=5),libevas-dev,libecore-dev,libethumb-dev,libelm-dev,libefreet-dev,	libslp-sysman-dev,libslp-sysman-dev,libslp-sensor-dev,libappcore-efl-dev,libdevman-dev,libmm-sound-dev, libslp-utilx-dev, syspopup-dev, libslp-pm-dev, libnotification-dev,libslp-setting-dev
Standards-Version: 0.1.0 

Package: org.tizen.poweroff-syspopup
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Power off popup application

Package: org.tizen.lowmem-syspopup
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Low memory popup application

Package: org.tizen.lowbat-syspopup
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Low battery popup application

Package: system-popup-dbg
Section: debug
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, org.tizen.poweroff-syspopup (= ${Source-Version}), org.tizen.lowmem-syspopup (= ${Source-Version}), org.tizen.lowbat-syspopup (= ${Source-Version})
Description: System popup application (unstripped)
